html,
body {
  height: 100%;
}
.full-bg-img {  
    background: url("http://s32.postimg.org/liiyo485x/Kart_Symbol_Academy_35mm_4k_Pespective_Metallica.jpg") no-repeat center center fixed;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.top-nav-collapse {
    background-color: #4285F4;
}
